*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROqac6zBKDkd-tXySq6usCZbLbMtnX4FL4K3DEkwi8gnlVQUa5OWmKNSuTDCFSqi9ONnE&usqp=CAU");
    background-size: cover;
    
}
.clock{
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),0px 10px 20px rgba(0, 0, 0, 0.7);
    height: 24vh;
    border-radius:12px;
    padding: 20px;
}
.clock h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.clock span{
    position: relative;
    top: -13%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}

#startButton{
    display: flex;
    justify-content: center;
    background-color: aqua;
    position: relative;
    top: 20vh;
    font-size: 20px;
    background: transparent;
     width: 120px;
    margin-left: -350px;
    background-color: green;

}
#stopButton{
    display: flex;
    justify-content: center;
    background-color: aqua;
    position: relative;
    top: 15.5vh;
    font-size: 20px;
    background: transparent;
     width: 120px;
    margin-left: -150px;
    background-color: red;
}


 @media screen and (max-width: 274){ 
        .clock{
            max-width: 210px;
            padding: 5px;
        }
        .clock h1{
            font-size: 2.1rem;
        }
}
@media screen and (min-width:275px)and(max-width:400px  ){
        .clock{
            max-width: 260px;
            padding: 5px;
        }
        .clock h1{
            font-size: 2.4rem;
        }
} 